<%- include("partials/header") %> 
<%- include("partials/nav") %> 
<section id="about" class="section">
    <!-- <svg id="Capa_1" enable-background="new 0 0 511.977 511.977" height="100" viewBox="0 0 511.977 511.977" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m359.093 264.41 42.427 42.427c5.854 5.855 15.357 5.857 21.213 0l84.853-84.853c5.854-5.853 5.858-15.356 0-21.213l-42.427-42.426c-5.857-5.858-15.355-5.858-21.213 0-5.85 5.848-15.363 5.848-21.213 0-5.862-5.863-5.863-15.35 0-21.213 5.776-5.771 5.916-15.296 0-21.214l-42.427-42.426c-59.672-59.671-149.698-83.648-212.132-21.213-4.29 4.29-5.573 10.742-3.252 16.347 2.322 5.605 7.792 9.26 13.858 9.26 77.167 0 124.929 46.294 125.369 46.729 1.054 1.053 1.054 2.767.001 3.82-3.469 3.471-290.872 291.058-290.992 291.178-17.544 17.545-17.544 46.094 0 63.64 17.546 17.545 46.094 17.544 63.644-.004l261.081-261.269c5.85-5.844 15.361-5.844 21.209.004 5.862 5.863 5.863 15.35 0 21.213-5.828 5.829-5.886 15.325.001 21.213zm53.033 10.607-21.214-21.213 63.64-63.64 21.214 21.213zm-23.019-61.834c-2.177-4.547-5.131-8.742-8.802-12.412-3.718-3.718-7.934-6.64-12.431-8.783l24.843-24.843c2.177 4.547 5.131 8.742 8.802 12.412 3.718 3.718 7.934 6.64 12.431 8.782zm-167.948-161.262c52.507-21.38 110.611 15.463 137.934 42.784l31.82 31.82-63.641 63.64-21.213-21.213 19.304-19.304c12.75-12.75 12.75-33.495 0-46.246-1.884-1.885-39.738-39.022-104.204-51.481zm-165.573 410.118c-5.848 5.849-15.364 5.849-21.213 0s-5.849-15.365.003-21.218l250.475-250.654 21.213 21.213z"/></g></svg>
    <p>Under construction!</p> -->
    <div class="heading">
        <h2>Weatherex</h2>
        <p>Weatherex's vision is to make finding out the current weather forecast and the forecast for the following days as easy as possible. The goal is to provide a simplistic, navigable website that shows the current temperature of the location where the user is present, with all the data including current temperature, hourly forecast, daily forecast and more.</p>
    </div>
    <div class="heading">
        <h2>API Used</h2>
        <p>WeatherAPI - <a href="https://weatherapi.com">https://weatherapi.com</a></p>
        <p>Contribute Now - <a href="https://weatherapi.com">http://bit.ly/weatherex</a></p>
    </div>

    <div class="contact">
        <span>Created with &#10084 by <a href="https://www.github.com/mmuazam98">MuaZam</a>
        <ul class="social-icons">
            <li><a class="github" href="https://github.com/mmuazam98"><i class="fab fa-github"></i></a></li>
            <li><a class="codepen" href="https://codepen.io/mmuazam99"><i class="fab fa-codepen"></i></a></li>   
            <li><a class="linkedin" href="https://www.linkedin.com/in/mohammad-muazam-129838190"><i class="fab fa-linkedin"></i></a></li>   
          </ul>
    </div>
</section>
<%- include("partials/footer") %> 