#about {
  position: relative;
  min-height: 100vh;
}
#about svg {
  fill: var(--white-bg);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about p {
  color: var(--white-bg);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
